@using ItLabs.MBox.Application.Models
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@model PagingModel<RecordLabel>
@{
    Layout = null;
}



@foreach (RecordLabel rl in Model.PagingList)
{
    <li class="col-sm-2 card-container-record table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
        <div class="row card-song-name">
            <div>
                <div class="text-center text">
                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="@rl.Id">@rl.User.ShortName</a>
                </div>
            </div>
        </div>
        <div class="row card-song-img-hold">
            <img class="card-song-img" src="@_s3Manager.GetImageLink(rl.PictureName)" />
        </div>
    </li>
}