@using ItLabs.MBox.Application.Models
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@model PagingModel<RecordLabel>
@{
    Layout = null;
}



@foreach (RecordLabel rl in Model.PagingList)
{
    <li class="col-sm-2 card-container-record table-bordered" style="margin-right:3.2%; margin-bottom: 2%" >
        <div class="row card-song-name">
            <div>
                <div class="text-center text">
                    <form asp-controller="Home" asp-action="RecordLabelDetails">
                        <div class="text-center text">
                            <button type="submit" class="btn btn-link">
                                @if (rl.User.Name.Count() > 18)
                                {
                                    <h5>@rl.User.Name.Substring(0, 18)...</h5>

                                }
                                else
                                {
                                    <h5>@rl.User.Name</h5>
                                }
                                @Html.Hidden("recordLabelId", rl.Id)
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row card-song-img-hold">
                <img class="card-song-img" src="@_s3Manager.GetImageLink(rl.PictureName)" />
        </div>
    </li>
}