@using ItLabs.MBox.Application.Models
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@model PagingModel<RecordLabel>
@{
    Layout = null;
}



@foreach (RecordLabel rl in Model.PagingList)
{
    <li class="col-sm-2 table-bordered seperateRecordLabelItems">
        <div class="row">
            <div>
                <div class="text-center text">
                    <h5>@rl.User.Name</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <img class="img-responsive center-block text-center" src="@_s3Manager.GetImageLink(rl.User.Picture)" />
            </div>
        </div>
    </li>
}