@using ItLabs.MBox.Application.Models

@model PagingModel<RecordLabel>

@{
    ViewData["Title"] = "RecordLabels";
}

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingRecordLabels.js"></script>
}


<div class="container-fluid">
    <ul id="recordLabelsListId" class="list-group recordLabelList" style="list-style:none;">
        @foreach (RecordLabel rl in Model.PagingList)
        {
            <li class="col-sm-2 table-bordered seperateRecordLabelItems">
                <div class="row">
                    <div>
                        <div class="text-center text">
                            <h5>@rl.User.Name</h5>
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<RecordLabel>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                            <input id="lazyLoadingUrl" type="hidden" value="/Home/GetNextRecordLabels" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img class="img-responsive center-block text-center" src="~/images/travis-scott-astroworld-cover-art.jpg" />
                    </div>
                </div>
            </li>
        }
    </ul>
    <button name="LoadMore" class="btn btn-primary center-block" id="loadmorebutton"> Load More</button>
</div>