@using ItLabs.MBox.Contracts.Dtos
@model AddMultipleArtistsDto
@{
    ViewData["Title"] = "AddMultipleArtists";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="RecordLabels" asp-action="AddMultipleArtists">
            <div class="form-group ">
                <h4 class="page-header">Adding multiple artists is done by uploading a .csv file with the artist's information in format: </h4>
                <br />
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4>ArtistEmail,ArtistName</h4>
                    <div class="form-group">
                        <input class="btn-default btn" style="margin-top: 50px" type="file" name="files" accept=".csv" />
                        <div class="col-md-2"></div>
                        <div class="col-md-6" style="margin-top: 30px">
                            <input class="btn btn-primary" type="submit" value="Upload" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
        @if (Model != null)
        {
            @foreach (var error in Model.Errors)
            {
                <p class="alert-danger">@error</p>
                <br />
            }
       }
    </div>
    <div class="col-md-3"></div>
</div>

