@using ItLabs.MBox.Application.Models

@{
    Layout = null;
}

@model PagingModel<RecordLabel>

@foreach (RecordLabel rl in Model.PagingList)
{
    <tr class="search">
        <td>
            @rl.User.Name
        </td>
        <td>@rl.User.Email</td>
        <td>@rl.RecordLabelArtists.Count</td>
        <td>
            <form asp-area="" asp-controller="Admins" asp-action="DeleteRecordLabel" method="post" onsubmit="return confirm('Are you sure');">
                @Html.Hidden("recordLabelId", rl.User.Id);
                <input type="submit" class="btn btn-danger" value="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </form>
        </td>
    </tr>
}