@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<hr />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email">Enter Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
