@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using ItLabs.MBox.Contracts.Entities

@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<hr />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="row">
                        <div class="col-sm-11">
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div>
                            <span class="text-danger" style="font-size: x-large">*</span>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="row">
                        <div class="col-sm-11">
                            <input asp-for="Password" class="form-control" />
                        </div>
                        <div>
                            <span class="text-danger" style="font-size: x-large">*</span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-right">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
