<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <h4 style="margin-top: 150px">
            Your password was successfully changed!
        </h4>
        <div class="col-md-8"></div>
        @Html.ActionLink("Finish", "Login", "Account",null, new { @class = "btn btn-primary" })
    </div>
</div>
