.dropDownLi li a {
    color: #d3d3d3 !important;
}

.dropDownButton {
    text-align: left;
    color: #d3d3d3 !important;
}

.dropDownMenu {
    background-color: #1c1b1b;
}

.vl {
    border-left: 1px solid black;
    height: 100%;
    margin-top: 4%;
}

.alignforvl {
    height: 100%;
    margin-top: 4%;
    margin-left: 9%;
    margin-right: -8%;
}

.artistImage {
    margin: 5px;
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.songImage {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.seperateLists {
    margin-right: 2%;
}

.seperateResults {
    margin-right: 3.2%
}

.seperateRecordLabelItems {
    margin-right: 3.2%;
    margin-bottom: 4%;
}

.recordLabelList {
    margin-top: 3%
}

.my-account-img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.my-account-img::before {
    content: '';
    display: block;
    padding-top: 35%;
}

.recordLabelAboutList {
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0px;
    max-height: 300px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .fixed_header tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 650px;
    }

    .fixed_header thead tr {
        display: block;
    }

    .fixed_header th, .fixed_header td {
        padding: 5px;
        text-align: left;
        width: 285px;
        border-bottom: 1px solid #D3D3D3;
    }


.card-container-song {
    height: 270px;
}
.card-container-artist {
    height: 225px;
}
.card-container-record {
    height: 200px;
}

.card-song-img-hold {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 15px 0;
}

.card-song-img-hold::before {
        content: '';
        display: block;
        padding-top: 120px;
        width: 100%;
        position: absolute;
}

.card-song-img {
    width: auto;
    height: 120px;
    margin: 0 auto;
    display: block;
}

.out-link-social {
    text-align: center;
}