@model ChangePasswordViewModel

<div class="row">

    <div class="">
        <form method="post">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <div class="row">
                    <div class="col-sm-11">
                        <input asp-for="OldPassword" class="form-control" />
                    </div>
                    <div>
                        <span class="text-danger" style="font-size: x-large">*</span>
                    </div>
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <div class="row">
                    <div class="col-sm-11">
                        <input asp-for="NewPassword" class="form-control" />
                    </div>
                    <div>
                        <span class="text-danger" style="font-size: x-large">*</span>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="row">
                    <div class="col-sm-11">
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    <div>
                        <span class="text-danger" style="font-size: x-large">*</span>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
