<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/customCss.css" />

@using Microsoft.AspNetCore.Identity
@using ItLabs.MBox.Contracts.Entities
@using ItLabs.MBox.Contracts.Enums

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(nameof(Role.SuperAdmin)))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu dropDownMenu dropDownLi">
                    <li>
                        <form asp-area="" asp-controller="Admins" asp-action="Index" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Dashboard</button>
                        </form>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Sign out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    }
    else if (User.IsInRole(nameof(Role.Listener)))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu dropDownMenu dropDownLi">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Following</a></li>
                    <li><a asp-area="" asp-controller="Manage" asp-action="ChangePassword">Change Password</a></li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Sign out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    }
    else if (User.IsInRole(nameof(Role.RecordLabel)))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu dropDownMenu dropDownLi">
                    <li>
                        <form asp-area="" asp-controller="RecordLabels" asp-action="MyAccount" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">My Account</button>
                        </form>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="RecordLabels" asp-action="Index" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Dashboard</button>
                        </form>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="Manage" asp-action="ChangePassword" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Change Password</button>
                        </form>

                    </li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Sign out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    }
    else if (User.IsInRole(nameof(Role.Artist)))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu dropDownMenu dropDownLi">
                    <li>
                        <form asp-area="" asp-controller="Artists" asp-action="MyAccount" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">My Account</button>
                        </form>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="Artists" asp-action="Index" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">My Songs</button>
                        </form>
                    </li>
                    <li><a href="#">Followers</a></li>
                    <li><a href="#">Following</a></li>
                    <li>
                        <form asp-area="" asp-controller="Manage" asp-action="ChangePassword" method="get" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Change Password</button>
                        </form>
                    </li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="margin-left: 10px">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link btn-block dropDownButton">Sign out</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log In</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></li>
    </ul>
}