<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using Microsoft.AspNetCore.Identity
@using ItLabs.MBox.Contracts.Entities
@using ItLabs.MBox.Contracts.Enums

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(nameof(Role.SuperAdmin)) || User.IsInRole(nameof(Role.RecordLabel)))
    {


    }
    else if (User.IsInRole(nameof(Role.Artist)) || User.IsInRole(nameof(Role.Listener)))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Artists">Artists</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="RecordLabels">Record Labels</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

        </ul>
        <div class="col-sm-6 col-sm-offset-1 ">
            <form asp-controller="Home" asp-action="MainSearch" class="navbar-form" role="search">
                <div class="input-group" style="width:100%">
                    <input name="searchValue" id="searchValue" type="text" class="form-control" placeholder="Search" aria-label="Search" maxlength="50"> 
                    <div class="input-group-btn">
                        <button class="btn btn-light" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Artists">Artists</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="RecordLabels">Record Labels</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

    </ul>
    <div class="col-sm-4 col-md-4">
        <form asp-controller="Home" asp-action="MainSearch" class="navbar-form" role="search">
            <div class="input-group">
                <input name="searchValue" id="searchValue" type="text" class="form-control" placeholder="Search" aria-label="Search">
                <div class="input-group-btn">
                    <button class="btn btn-light" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
}