
@{
    ViewData["Title"] = "PasswordWasSuccessfullyChanged";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <p class="text-success text-center">
                Password was successfully changed!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-success" href="javascript:history.go(-2)">Finish</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>