
@{
    ViewData["Title"] = "SuccessfullyAddedMultiple";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var artistsAdded = TempData["successfullyAdded"];
    var status = TempData["status"];
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <p class="text-success text-center">
                @artistsAdded successfully artists added. Current artist state @status/50
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a class="btn-success btn btn-block" asp-area="" asp-controller="RecordLabels" asp-action="Index">Finish</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>