@{
    ViewData["Title"] = "SuccessfullyInvitedArtist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <p class="text-success text-center">
                You have successfully invited Artist
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a class="btn-success btn btn-block" asp-area="" asp-controller="RecordLabels" asp-action="Index">Finish</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
