<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewData["Title"] = "AddNewSong";
}


<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-md-4 col-sm-4">

        </div>
        <div class="col-md-8 col-sm-8">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <form asp-area="" asp-controller="" asp-action="" method="get">
                        <button type="submit" class="btn btn-block btn-default" style="margin: 5px">Cancel</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-6">
                    <form asp-area="" asp-controller="" asp-action="" method="get">
                        <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Publish</button>
                    </form>
                </div>
            </div>   
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5 col-sm-5">
            
        </div>
        
        <div class="col-md-7 col-sm-7">

        </div>
    </div>
</div>