
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section Scripts{
    <script type="text/javascript" src="~/js/EditDetailsOnButtonClick.js"></script>
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager


@model ApplicationUser
<div class="container-fluid" style="text-align: center">
    <div class="row" style="width:59%;height:150px;z-index:600;background:white;position:fixed;border-bottom: 1px solid black">
        <div class="col-sm-5 col-sm-offset-4" style="padding-left:">
            <img class="img img-circle" style="width:200px;height:200px;margin-top:5px" src="@_s3Manager.GetImageLink(Model.PictureName)" />
        </div>
        <div class="col-sm-2" style="margin-top:20px">
            <div class="row"><h1 id="followingCount" onclick="location.href = '/Home/Following';" onmouseover="" style="cursor: pointer;margin-left:-20px">@Model.Follows.Count</h1></div>
            <div class="row"><h4 style="margin-left:-10px">following</h4></div>
        </div>
    </div>

    <div class="row" style="margin:250px 350px 10px 350px;">
        <form asp-controller="Listeners" asp-action="ChangePicture" method="post" enctype="multipart/form-data">
            <div class="col-sm-8 col-md-8">
                <label>Change profle picture:</label>
                <input class="btn-default btn" type="file" id="uploadedFiles" name="uploadedFiles" accept=".jpg,.jpeg,.png">

                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="col-sm-3 col-sm-offset-1" style="margin-top:35px; ">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin-right:300px">
        <label>Name</label>
    </div>
    <div class="row" style="margin:10px 350px 50px 350px;">
        <div class="col-md-8 col-sm-8">
            <form asp-controller="Listeners" asp-action="EditName" method="post" id="editName">

                <input asp-for="Name" class="form-control" value="@Model.Name" id="ArtistName" name="listenerName" disabled>
                <span asp-validation-for="Name" class="text-danger"></span>
            </form>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default edit editDetails" id="editListenrName" onclick="editDetails('ArtistName', 'editListenrName', 'saveListenertName', 'cancelListenrName')">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </div>
        <div class=" col-sm-1">
            <button class="btn btn-success save saveDetails" id="saveListenertName" type="submit" form="editName">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
        <div class="col-sm-offset-1 col-sm-1">
            <button class="btn btn-danger cancelDetails" id="cancelListenrName" onclick="cancelEditiong('ArtistName', 'editListenrName', 'saveListenertName', 'cancelListenrName')">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
</div>

